[submodule "haloball/src/FAST-LIO"]
	path = haloball/src/FAST-LIO
	url = https://github.com/JasonY85/FAST-LIO.git
	branch = humble

[submodule "haloball/src/livox_ros_driver2"]
	path = haloball/src/livox_ros_driver2
	url = https://github.com/JasonY85/livox_ros_driver2.git
	branch = humble